<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <img src="../../assets/images/stack.png" alt="image" width="40" height="40" class="logosize">
        </div>
        <div class="text-center">
          <button class="px-5 mt-3 bg-white border border-1 border-dark shadow rounded-1" type="button">
            <svg aria-hidden="true" class="native svg-icon iconGoogle" width="24" height="24" viewBox="0 0 18 18">
              <path
                d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18Z"
                fill="#4285F4"></path>
              <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17Z"
                fill="#34A853"></path>
              <path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07Z" fill="#FBBC05"></path>
              <path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3Z"
                fill="#EA4335"></path>
            </svg>
            Sign Up with Google
          </button>
        </div>
        <div class="text-center">
          <button class="mt-2 btn btn-dark rounded-1" type="button" id="btnsize">
            <em class="fa-brands fa-github"></em>
            Sign up with GitHub
          </button>
        </div>
        <div>
          <button class="px-5 mt-2 btn btn-primary rounded-1" type="button">
            <em class="fa-brands fa-square-facebook"></em>
            Sign up with Facebook
          </button>
        </div>
        <div>
          <div class="card mt-2 shadow" id="cardsize">
            <div class="card-body">
              <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
                <div>
                  <label for="email" class="fw-semibold">Email</label>
                  <input type="email" class="form-control"
                    [ngClass]="{'is-invalid': LoginForm.controls['email'].invalid && (LoginForm.controls['email'].dirty || LoginForm.controls['email'].touched),'is-valid':LoginForm.controls['email'].valid}"
                    formControlName="email">
                  <div class="invalid-feedback is-invalid">Email is required</div>
                  <div class="valid-feedback is-valid">Valid</div>
                </div>
                <br>
                <div>
                  <label for="password" class="fw-semibold mt-2">Password<a class="fw-normal"
                      style="font-size: 11px;margin-left: 85px;" href="">Forgot password?</a></label>
                  <input type="password" class="form-control"
                    [ngClass]="{'is-invalid': LoginForm.controls['password'].invalid && (LoginForm.controls['password'].dirty || LoginForm.controls['password'].touched),'is-valid':LoginForm.controls['password'].valid}"
                    formControlName="password">
                  <div class="invalid-feedback is-invalid">Password is required</div>
                  <div class="valid-feedback is-valid">Valid</div>
                </div>
                <button type="submit" [disabled]="!LoginForm.valid"
                  class="mt-5 btn btn-primary border border-2 border-primary text-center text-white fw-semibold"
                  style="padding-left: 100px;padding-right: 90px;">Log in</button>
              </form>
            </div>
          </div>
        </div>
        <div class="text-center mt-4" style="font-size: 14px;">
          Don’t have an account? <a href="" [routerLink]="['/SignUp']">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
