<div class="footer">
  <div class="bg-black">
   <div class="container">
     <div class="row">
       <div class="col-md-1">
         <img src="../../assets/images/stacklogo.png" width="60" height="55">
       </div>
       <div class="col-md-2">
         <p class="text-white mt-4 text-start" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 16px;">STACK OVERFLOW</p>
         <p class="text-white-50" style="font-size: 14px;">Questions</p>
         <p class="text-white-50" style="font-size: 14px;">Help</p>
       </div>
       <div class="col-md-2">
         <p class="text-white mt-4 text-start" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 16px;">PRODUCTS</p>
         <p class="text-white-50" style="font-size: 14px;">Teams</p>
         <p class="text-white-50" style="font-size: 14px;">Advertising</p>
         <p class="text-white-50" style="font-size: 14px;">Collectives</p>
         <p class="text-white-50" style="font-size: 14px;">Talent</p>
       </div>
       <div class="col-md-2">
        <p class="text-white mt-4 text-start" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 16px;">COMPANY</p>
        <p class="text-white-50" style="font-size: 14px;">About</p>
        <p class="text-white-50" style="font-size: 14px;">Press</p>
        <p class="text-white-50" style="font-size: 14px;">Work Here</p>
        <p class="text-white-50" style="font-size: 14px;">Legal</p>
        <p class="text-white-50" style="font-size: 14px;">Privacy Policy</p>
        <p class="text-white-50" style="font-size: 14px;">Terms of Service</p>
        <p class="text-white-50" style="font-size: 14px;">Contact Us</p>
        <p class="text-white-50" style="font-size: 14px;">Cookie Settings</p>
        <p class="text-white-50" style="font-size: 14px;">Cookie Policy</p>
      </div>
      <div class="col-md-auto">
        <p class="text-white mt-4 text-start" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 16px;">STACK EXCHANGE NETWORK</p>
        <p class="text-white-50" style="font-size: 14px;">Technology</p>
        <p class="text-white-50" style="font-size: 14px;">Culture & recreation</p>
        <p class="text-white-50" style="font-size: 14px;">Life & arts</p>
        <p class="text-white-50" style="font-size: 14px;">Science</p>
        <p class="text-white-50" style="font-size: 14px;">Professional</p>
        <p class="text-white-50" style="font-size: 14px;">Business</p>
        <p class="text-white-50 mt-5" style="font-size: 14px;">API</p>
        <p class="text-white-50" style="font-size: 14px;">Data</p>
      </div>
      <div class="col-md-auto">
        <p class="text-white-50 ms-2 mt-4" style="font-size: 11px;">
          <span>Blog</span>
          <span class="ms-3">Facebook</span>
          <span class="ms-3">Twitter</span>
          <span class="ms-3">LinkedIn</span>
          <span class="ms-3">Instagram</span>
        </p>
        <p class="text-white-50 ms-2" style="font-size: 11px;margin-top: 320px;">Site design / logo © 2022 Stack Exchange Inc; user <br> contributions licensed under CC BY-SA. rev 2022.9.1.42957</p>
      </div>
     </div>
   </div>
  </div>
</div>
