.font-size-sm{
  font-size: small;
}

#Teambtn{
  background-color: darkorange;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-size{
  padding: 0px;
  margin: 0px;
}

.badge-color{
  background-color: rgb(204, 228, 236);
}

.card-width{
  width: 215px;
  height: 210px;
}
